.container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 85%;
    margin: auto;

    .cards-container{
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

// @media (max-width: 760px){
//     .container{
//         .cards-container{
//             flex-direction: column;
//         }
//     }
// }

.card-container:hover{
    padding: 1.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    min-width: 250px;
    flex: 1;
    border:none;
    background-color: #7722FC;
    p{
        color:white

    }
}