.body {
  background-color: #0e0d1c;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 400;
}

.section_banner {
  padding-top: 50px;
  padding-bottom: 110px;
}

.navbar {
  margin-top: 0px;
  background-color: transparent;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.container.update {
  max-width: 1105px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  margin-right: 55px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  font-size: 19px;
  line-height: 32px;
}

.nav-link:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.nav-link.up {
  margin-right: 10px;
}

.nav-menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.get-started {
  display: block;
  width: 190px;
  margin-right: 0px;
  padding: 10px 0px;
  border-radius: 50px;
  background-color: #7722fc;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
}

.get-started:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.get-started.spacing {
  width: 210px;
  margin-top: 57px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.get-started.spacing-hover {
  width: 210px;
  margin-top: 57px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.get-started.spacing-hover:hover {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.nav-menu {
  display: block;
  width: auto;
  margin-left: 105px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.banner_txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 145px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  text-align: center;
}

.heading.section {
  font-size: 36px;
  line-height: 54px;
}

.heading.left-heading {
  font-size: 29px;
  line-height: 44px;
  font-weight: 500;
  text-align: left;
}

.heading.investments {
  text-align: left;
}

.heading.investments.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: right;
}

.heading.footer-heading {
  display: inline-block;
  margin-bottom: 14px;
  font-size: 32px;
  line-height: 54px;
  text-align: left;
}

.subhead {
  margin-top: 0px;
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.subhead-p {
  width: 826px;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #707070;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.subhead-p.left {
  width: auto;
  margin-top: 18px;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: justify;
}

.subhead-p.right {
  width: 714px;
  margin-top: 18px;
  direction: ltr;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: right;
}

.section_currency {
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: #0c0b17;
}

.number-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.number-heading {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 70px;
  line-height: 90px;
  font-weight: 500;
}

.color_p {
  margin-bottom: 0px;
  color: #7722fc;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.color_p.p {
  color: #ffc768;
}

.color_p.blue {
  color: #286ef1;
}

.div-block-2 {
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;
}

.div-block-2.color {
  padding-bottom: 20px;
  border-right: 1px solid #fff;
}

.section_protocol {
  height: auto;
  padding-top: 154px;
  padding-bottom: 179px;
}

.card_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 322px;
  max-width: 491px;
  margin-right: 30px;
  padding-top: 27px;
  padding-right: 0px;
  padding-left: 27px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 14px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.card:hover {
  border-style: solid;
  border-color: hsla(0, 0%, 100%, 0);
  background-color: #7722fc;
}

.card.ex {
  margin-right: 0px;
  padding-right: 0px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.5);
  font-weight: 500;
  text-transform: uppercase;
}

.card_h {
  margin-top: 29px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
  text-transform: capitalize;
}

.card_p {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 15px;
  line-height: 28px;
}

.paragraph {
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.learn-more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin-top: 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.arrow {
  width: 22px;
  margin-left: 11px;
}

.waves {
  position: absolute;
  left: auto;
  top: auto;
  right: -3%;
  bottom: -2%;
}

.section_upcoming {
  padding-top: 35px;
  padding-bottom: 45px;
  background-color: #0c0b17;
}

.section_investments {
  height: auto;
  padding-top: 205px;
  padding-bottom: 205px;
}

.left-image-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.div-block-3 {
  width: 138px;
  height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.right-text {
  width: 735px;
  margin-left: 10px;
}

.right-text.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 133px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4.rev {
  position: relative;
  right: 0px;
  margin-right: -38px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.right-image {
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.right-img-c {
  width: 340px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.section_footer {
  height: auto;
  padding-top: 77px;
  padding-bottom: 120px;
  background-color: #0c0b17;
}

.footer-frid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1.75fr 1fr 1fr 1.5fr;
  grid-template-columns: 1.75fr 1fr 1fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-txt {
  width: 275px;
}

.subhead-p-footer {
  width: auto;
  margin-top: 22px;
  margin-bottom: 0px;
  color: hsla(0, 0%, 100%, 0.29);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.subhead-p-footer.left {
  width: auto;
  margin-top: 18px;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: left;
}

.subhead-p-footer.right {
  width: auto;
  margin-top: 18px;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: right;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 145px;
  margin-top: 24px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-linkss {
  margin-bottom: 25px;
  color: hsla(0, 0%, 100%, 0.3);
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
}

.copyright {
  margin-top: 42px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 30px;
}

.navbar-mobile {
  display: none;
  margin-top: 0px;
  background-color: transparent;
}

.burger-1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 6px 6px 25px 0 rgba(40, 7, 128, 0.15);
  cursor: pointer;
}

.b1-bar1 {
  width: 30px;
  height: 4px;
  background-color: #858eca;
}

.b1-bar2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #858eca;
}

.b1-middle {
  width: 4px;
  height: 0px;
  background-color: #858eca;
}

.b1-bar3 {
  width: 30px;
  height: 4px;
  background-color: #858eca;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1425px;
  }

  .subhead-p.right {
    width: 715px;
  }

  .card {
    padding-right: 25px;
  }

  .card_p {
    width: 400px;
    font-size: 17px;
    line-height: 29px;
  }

  .right-text.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1575px;
  }

  .container.update {
    max-width: 1128px;
  }

  .subhead-p.right {
    width: 715px;
  }

  .left-image-grid {
    margin-left: 10px;
  }

  .right-text {
    margin-left: 10px;
  }

  .right-text.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }

  .nav-link {
    margin-right: 20px;
    padding: 10px 0px;
    font-size: 15px;
  }

  .nav-menu-button {
    right: 11px;
    margin-left: 0px;
  }

  .get-started {
    width: 139px;
    font-size: 14px;
    line-height: 22px;
  }

  .get-started.spacing-hover {
    width: 185px;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-menu {
    margin-left: 28px;
  }

  .banner_txt {
    margin-top: 80px;
  }

  .heading {
    font-size: 30px;
  }

  .heading.section {
    font-size: 30px;
  }

  .heading.left-heading {
    font-size: 24px;
    line-height: 35px;
    text-align: center;
  }

  .heading.investments {
    line-height: 51px;
  }

  .heading.footer-heading {
    font-size: 16px;
    line-height: 45px;
  }

  .subhead {
    font-size: 18px;
  }

  .subhead-p {
    width: 625px;
    margin-top: 16px;
    font-size: 15px;
    line-height: 26px;
  }

  .subhead-p.left {
    width: 470px;
    font-size: 14px;
  }

  .subhead-p.right {
    width: auto;
    font-size: 14px;
  }

  .section_currency {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .number-heading {
    font-size: 55px;
  }

  .color_p {
    font-size: 15px;
  }

  .div-block-2 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .div-block-2.color {
    padding-right: 40px;
    padding-left: 40px;
  }

  .card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card {
    height: 295px;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .heading-2 {
    font-size: 14px;
  }

  .card_h {
    margin-top: 10px;
    font-size: 24px;
  }

  .card_p {
    display: block;
    width: 350px;
    line-height: 27px;
  }

  .section_investments {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .left-image-grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .div-block-3 {
    width: 120px;
    height: 110px;
  }

  .right-text {
    width: 537px;
    margin-left: 29px;
  }

  .right-text.flex {
    width: 477px;
  }

  .div-block-4 {
    margin-bottom: 70px;
  }

  .div-block-4.rev {
    margin-right: 0px;
  }

  .right-image {
    margin-left: 0px;
  }

  .right-img-c {
    width: 290px;
  }

  .section_footer {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .footer-frid {
    grid-column-gap: 20px;
  }

  .subhead-p-footer {
    font-size: 15px;
    text-align: left;
  }

  .div-block-5 {
    width: 120px;
  }

  .footer-linkss {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .copyright {
    font-size: 13px;
  }

  .link-block {
    width: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section_banner {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .navbar {
    display: none;
  }

  .container {
    max-width: 95%;
  }

  .main-logo.mobile {
    top: 21px;
  }

  .nav-menu-button {
    display: block;
  }

  .get-started.up {
    margin-left: 0px;
  }

  .banner_txt {
    margin-top: 45px;
  }

  .heading {
    font-size: 26px;
  }

  .heading.section {
    font-size: 24px;
    line-height: 45px;
  }

  .heading.investments {
    display: block;
    margin-top: 32px;
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
  }

  .heading.investments.right {
    margin-bottom: 0px;
  }

  .heading.footer-heading {
    margin-top: 0px;
    font-size: 16px;
    line-height: 28px;
  }

  .subhead {
    font-size: 16px;
  }

  .subhead-p {
    width: 450px;
    font-size: 13px;
    line-height: 21px;
  }

  .subhead-p.left {
    margin-top: 9px;
    font-size: 12px;
    text-align: center;
  }

  .subhead-p.right {
    width: 460px;
    margin-top: 9px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .section_currency {
    padding-top: 10px;
  }

  .number-container {
    margin-top: 5px;
  }

  .number-heading {
    font-size: 34px;
    line-height: 67px;
    text-align: center;
  }

  .color_p.p {
    font-size: 13px;
  }

  .color_p.blue {
    font-size: 13px;
  }

  .div-block-2 {
    padding-bottom: 10px;
  }

  .div-block-2.color {
    padding-bottom: 10px;
  }

  .section_protocol {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .card {
    height: 260px;
    max-width: 90%;
  }

  .heading-2 {
    font-size: 12px;
    line-height: 21px;
  }

  .card_h {
    font-size: 20px;
    line-height: 35px;
  }

  .card_p {
    width: 305px;
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 25px;
  }

  .section_upcoming {
    padding-top: 20px;
    padding-bottom: 26px;
  }

  .section_investments {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .right-text {
    width: auto;
    margin-left: 0px;
  }

  .right-text.flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-4.rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .right-img-c {
    width: 280px;
  }

  .section_footer {
    padding-bottom: 40px;
  }

  .footer-frid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer-txt {
    margin-bottom: 10px;
  }

  .subhead-p-footer {
    margin-top: 10px;
    line-height: 27px;
  }

  .div-block-5 {
    margin-top: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-link-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-linkss {
    margin-bottom: 10px;
  }

  .link-block {
    margin-bottom: 10px;
  }

  .navbar-mobile {
    display: block;
  }

  .burger-1 {
    background-color: transparent;
  }

  .b1-bar1 {
    background-color: #7722fc;
  }

  .b1-bar2 {
    background-color: #7722fc;
  }

  .b1-bar3 {
    background-color: #7722fc;
  }

  .icon {
    display: none;
  }

  .menu-button {
    padding: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .nav-menu-2 {
    padding-left: 10px;
    background-color: #0e0d1c;
  }

  .movile-nav-link {
    color: #fff;
    font-size: 15px;
  }
}

@media screen and (max-width: 479px) {
  .section_banner {
    padding-top: 0px;
  }

  .container {
    max-width: 90%;
  }

  .main-logo.mobile {
    top: 30px;
    width: 135px;
  }

  .get-started.spacing-hover {
    width: 170px;
  }

  .get-started.up.mob {
    left: 15px;
  }

  .heading {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 30px;
  }

  .heading.section {
    font-size: 22px;
    line-height: 37px;
  }

  .heading.left-heading {
    margin-bottom: 38px;
  }

  .heading.investments {
    margin-top: 29px;
  }

  .subhead {
    font-size: 14px;
    line-height: 32px;
  }

  .subhead-p {
    width: auto;
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
  }

  .subhead-p.left {
    width: 100%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
    line-height: 24px;
  }

  .subhead-p.right {
    width: 100%;
    max-width: 90%;
  }

  .number-heading {
    font-size: 30px;
    line-height: 56px;
    text-align: center;
  }

  .color_p {
    font-size: 14px;
  }

  .color_p.p {
    text-align: center;
  }

  .div-block-2 {
    padding-bottom: 5px;
  }

  .div-block-2.color {
    padding-bottom: 5px;
  }

  .section_protocol {
    padding-top: 20px;
  }

  .card {
    height: 220px;
    padding-top: 19px;
    padding-right: 10px;
    padding-left: 15px;
  }

  .card_h {
    margin-bottom: 10px;
    line-height: 30px;
  }

  .card_p {
    width: 100%;
    font-size: 12px;
    line-height: 22px;
  }

  .paragraph {
    font-size: 14px;
  }

  .learn-more {
    margin-top: 35px;
  }

  .arrow {
    width: 18px;
  }

  .waves {
    right: -25%;
    bottom: -3%;
  }

  .section_upcoming {
    padding-top: 10px;
  }

  .div-block-3 {
    width: 90px;
    height: auto;
  }

  .right-text.flex {
    width: auto;
  }

  .section_footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .div-block-5 {
    width: 115px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .link-block {
    width: 28px;
    margin-bottom: 0px;
  }
}

#w-node-fcadc0fc-6b7b-c1f4-21ff-9f3e541b6227-f5d79218 {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (min-width: 1440px) {
  #w-node-d4c1a65f-59c2-b515-6e30-fac5b8d05507-f5d79218 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

